/* Navigation breakpoints */

#site-navigation{
    width:100%;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {
  font-family:"Fjalla One";
  text-transform:uppercase;

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;
    transition:background 0.3s;

    &:hover:not(.button) {
      background-color: #000;
    }
  }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:last-child) { border-right: 0px solid #4e4e4e; }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .is-dropdown-submenu-parent.is-down-arrow > a::after { display: none; }
}

.nav-contain{
  max-width:1200px;
  margin:auto;
  position:relative;

  .nav-connect{
      position:absolute;
      right:0px;
      display:flex;
      height:100%;

      .loupe{
          margin:auto;
          padding-right:30px;
      }

      .in-button{
          border:1px solid white;
          padding:5px 25px 5px 25px;
          margin:auto;
          color:white;
          font-size:12px;
          font-family:"Roboto";
      }
  }
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {

    h3{
        margin-top:15px;
        font-family:"Fjalla One", Helvetica, sans-serif;
        text-align:center;
    }

	width: 400px;
    border:2px solid black;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);

    .login-submit{
        input{
            @extend .button;
            width:100%;
            text-transform: uppercase;
            font-family:"Fjalla One";
        }
    }
}

.close {
	background: #000;
	color: #FFFFFF;
	position: absolute;
	right: -12px;
	top: -10px;
	width: 30px;
    height:30px;
    border-radius:50%;
	box-shadow:0px 0px 5px #000;
    border:2px solid white;
    display:flex;

    .in{
        margin:auto;
    }

    &:hover{
        color:white;
    }
}

// SEARCHHHHHHH
.modalDialogSearch {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogSearch:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogSearch > div {

    h3{
        margin-top:15px;
        font-family:"Fjalla One", Helvetica, sans-serif;
        text-align:center;
    }

	max-width: 500px;
	position: relative;
	margin: 10% auto;
	border-radius: 10px;

    .search-in{
        border:0;
        height:40px;
        border-radius:3px 0px 0px 3px;
        text-align:center;
        font-style: italic;
        font-size:12px;
        position:relative;
        z-index:2;

        &:focus{
            box-shadow:0px 0px 0px;
            border:0;
        }
    }

    .close {
    	background: #000;
    	color: #FFFFFF;
    	position: absolute;
    	right: -12px;
    	top: -10px;
    	width: 30px;
        height:30px;
        border-radius:50%;
    	box-shadow:0px 0px 5px #000;
        border:2px solid white;
        display:flex;
        z-index:3;

        .in{
            margin:auto;
        }

        &:hover{
            color:white;
        }
    }

    .search-done{
        border:0;
        height:40px;
        border-radius:0px 3px 3px 0px;
        text-align:center;
        font-family:"Fjalla One", Helvetica, sans-serif;
        position:relative;
        z-index:2;
        width:100%;
        background:$primary-color;
        color:white;
        transition:0.5s;

        &:hover{
            background:darken($primary-color,5%);
        }

        &:focus{
            box-shadow:0px 0px 0px;
            border:0;
        }
    }
}
